/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}
/* Global Styles */
body {
    font-family: Arial, sans-serif;
    min-height: 100%;
    background-image:url(./images/janis-ringli-93NY0dTeUYE-unsplash.jpg);
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
} 

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #171717;
    color: #fff;
    padding: 10px 10px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    max-height: 40px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

/* Hero Section */
.hero {
    background-size: cover;
    text-align: center;
}

.hero h1 {
    font-size: 128px;
    margin-bottom: 20px;
    background: rgb(255,255,255);
    background: -webkit-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 40%, rgba(230,230,230,0.2) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


header{
    color: white;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.btn {
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 5vw;
    min-width: 40px;
    background-color: #ff9900;
    color: #fff;
    padding: 10px 20px;
    margin-top: 15px;
    margin-bottom: 150px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    
}

.btn:hover {
    background-color: #ffcc00;
}

/* About Section */
.about {
    padding: 50px;
    background-color: #f4f4f4;
    text-align: center;
}

.about h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Footer */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

@media only screen and (max-width: 740px) {
    .logo{
        content: url(./images/Logo.png);
    }
}